<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Sistema de Finanças</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="index.html">Home</a></li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown">Cadastros<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="app/paginas/contas_pagar.html">Conta a pagar</a></li>
					<li><a href="app/paginas/contas_receber.html">Conta a receber</a></li>
				</ul></li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown">Serviços <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="app/paginas/pagamentos.html">Pagamento</a></li>
					<li><a href="app/paginas/recebimentos.html">Recebimento</a></li>
				</ul></li>
			<li><a href="app/paginas/relatorios.html">Relatórios</a></li>
		</ul>
	</div>
</nav>

